/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #db5461;
  --pitch-dark: #000000;
  --clear-default: #FFFFFF;
  --deap-gray: #757575;
  
  --there-is-a-task-here: #770080;

  /* clear mode colors */
  --clear-official-gray: #EEEEEE;
  --clear-bg-color: #F5F5DC;
  --clear-border-color: rgb(199, 199, 199);

  /* dark mode colors */
  --dark-official-gray: #252525;
  --dark-bg-color: #46463c;
  --dark-default: #303030;
  --dark-border-color: rgb(70, 70, 70);

  /* visual indicator colors */
  --weak-priority-color: #088000;
  --light-priority-color: #DE9400;
  --urgent-priority-color: #FF4D00;
  --hight-priority-color: #FF0000;
  --delete-task-color: #DB0505;
  --modification-task-color: #083600;
  --validation-task-color: #6245C9;
  --task-terminated-color: #324D8D;
}

/* semantic color variables for this project */
:root {
  --background-color: var(--clear-bg-color);
  --box-bg-color: var(--clear-official-gray);
  --default-color: var(--clear-default);
  --default-text-color: var(--pitch-dark);
  --border-color:var(--clear-border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-bg-color);
    --box-bg-color: var(--dark-official-gray);
    --default-color: var(--dark-default);
    --default-text-color: var(--clear-default);
    --border-color:var(--dark-border-color);
  }
}

* {
  font-family: 'Noto Sans', sans-serif;
  color: var(--default-text-color);
}

  