@import './base.css';


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* the generic button you will see trought out the app */
.fancyButton {
  background-color: var(--main-color);
  border-radius: 20px;
  border-style: none;
  padding: 10px 40px 10px 40px;
  margin:0 10px 0 10px ;
  color: var(--clear-default);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* .fancyButton:hover {
  color: ;
} */

.menu-button {
  background-color: #db546224;
  border-radius: 20px;
  border-style: none;
  padding: 10px 40px 10px 40px;
  margin:0 10px 0 10px ;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}

.links {
  background-color: #6b6b6b;
  border-radius: 20px;
  border-style: none;
  padding: 0 5px 0 5px;
  color:aliceblue;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.error {
  background-color: #9200009d;
  border-radius: 20px;
  border-style: none;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  font-weight: bold;
}


.page-container {
  background-color: var(--background-color);
  padding-top: 10px;
  height: 100vh;
  width: 100%;
}

.input-fields {
  background-color: var(--default-color);
  border: 1px solid var(--deap-gray);
  padding: 5px;
  color: var(--default-text-color);
  border-radius: 10px;
}