@import "./base.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* the generic button you will see trought out the app */
.fancyButton {
  background-color: var(--main-color);
  border-radius: 14px;
  border-style: none;
  padding: 7px 20px 7px 20px;
  margin: 0 3px 0 3px;
  color: var(--clear-default);
  font-size: 14zpx;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* FancyBtn Responcive */
@media (min-width: 1024px) {
  .fancyButton {
    padding: 10px 40px;
    font-size: 14px;
    margin: 0 10px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .fancyButton {
    padding: 8px 30px;
    font-size: 14px;
    margin: 0 8px;
  }
}

@media (max-width: 767px) {
  .fancyButton {
    padding: 6px 20px;
    font-size: 12px;
    margin: 0 5px;
  }
}


/*--------------------*/

/* .fancyButton:hover {
  color: ;
} */


.links {
  background-color: #6b6b6b;
  border-radius: 20px;
  border-style: none;
  padding: 0 5px 0 5px;
  color: aliceblue;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.error {
  background-color: #9200009d;
  border-radius: 20px;
  border-style: none;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  font-weight: bold;
}

body {
  background-color: var(--background-color);
}

.generic-input-fields {
  background-color: var(--default-color);
  border: 1px solid var(--deap-gray);
  padding: 6.5px;
  color: var(--default-text-color);
  border-radius: 7px;
}
